USE [master]
GO
/****** Object:  Database [LibrarySystem]    Script Date: 18/12/2019 07:17:34 PM ******/
CREATE DATABASE [LibrarySystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibrarySystem', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LibrarySystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LibrarySystem_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LibrarySystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibrarySystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibrarySystem]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Book]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Edition] [varchar](20) NULL,
	[PublisherID] [int] NOT NULL,
	[Language] [varchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ISBN] [varchar](20) NULL,
	[Description] [varchar](200) NULL,
	[TotalQuantity] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookBarcode]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookBarcode](
	[BookBarcodeID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[Barcode] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BookBarcode] PRIMARY KEY CLUSTERED 
(
	[BookBarcodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookHistory]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookHistory](
	[BookHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[BookBarcodeID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BookHistory] PRIMARY KEY CLUSTERED 
(
	[BookHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CandidateDue]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CandidateDue](
	[CandidateDueID] [int] IDENTITY(1,1) NOT NULL,
	[BookBarcodeID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[DueAmount] [decimal](18, 2) NOT NULL,
	[Remark] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CandidateDue] PRIMARY KEY CLUSTERED 
(
	[CandidateDueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IssueBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IssueBook](
	[IssueBookID] [int] IDENTITY(1,1) NOT NULL,
	[BookBarcodeID] [int] NOT NULL,
	[CandidateID] [int] NOT NULL,
	[IssuedOn] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[ReturnedOn] [date] NULL,
	[LastRenewaledOn] [date] NULL,
	[NoOfTimeRenewal] [int] NOT NULL,
	[Remark] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_IssueBook] PRIMARY KEY CLUSTERED 
(
	[IssueBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MissingBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MissingBook](
	[MissingBookID] [int] IDENTITY(1,1) NOT NULL,
	[BookBarcodeID] [int] NOT NULL,
	[Remark] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MissingBook] PRIMARY KEY CLUSTERED 
(
	[MissingBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[ContactNumber] [varchar](15) NOT NULL,
	[AlternateContactNumber] [varchar](15) NULL,
	[EmailID] [varchar](200) NULL,
	[Fax] [varchar](15) NULL,
	[Website] [varchar](200) NULL,
	[Address] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ContactNumber] [varchar](15) NULL,
	[Email] [varchar](200) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[ThumbImpression] [varchar](max) NULL,
	[UID] [varchar](50) NULL,
	[Role] [varchar](10) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF_Author_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF_Author_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BookBarcode] ADD  CONSTRAINT [DF_BookBarcode_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[BookBarcode] ADD  CONSTRAINT [DF_BookBarcode_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CandidateDue] ADD  CONSTRAINT [DF_CandidateDue_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CandidateDue] ADD  CONSTRAINT [DF_CandidateDue_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[IssueBook] ADD  CONSTRAINT [DF_IssueBook_NoOfTimeRenewal]  DEFAULT ((0)) FOR [NoOfTimeRenewal]
GO
ALTER TABLE [dbo].[IssueBook] ADD  CONSTRAINT [DF_IssueBook_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[IssueBook] ADD  CONSTRAINT [DF_IssueBook_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MissingBook] ADD  CONSTRAINT [DF_MissingBook_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MissingBook] ADD  CONSTRAINT [DF_MissingBook_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Publisher] ADD  CONSTRAINT [DF_Publisher_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Publisher] ADD  CONSTRAINT [DF_Publisher_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to change the password
-- =============================================
CREATE PROC [dbo].[ChangePassword]
	@UserID												INT,
	@CurrentPassword									VARCHAR(50),
	@NewPassword										VARCHAR(50),
	@CreatedBy											INT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF EXISTS(SELECT 1 FROM [User] WHERE UserID = @UserID AND [Password] = @CurrentPassword)
		BEGIN
			UPDATE
				[User]
			SET
				[Password]	= @NewPassword,
				UpdatedBy	= @CreatedBy,
				UpdatedOn	= GETDATE()
			WHERE
				UserID		= @UserID
			AND
				[Password]	= @CurrentPassword

			SET
				@OutputMessage = 'SUCCESS';
		END
		ELSE
		BEGIN
			SET
				@OutputMessage = 'Invalid';
		END
		
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeactiveAuthor]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to deactive the author
-- =============================================
CREATE PROC [dbo].[DeactiveAuthor]
	@AuthorID											INT,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			UPDATE
				Author
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				AuthorID			= @AuthorID
			SET
				@ID = @AuthorID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeactiveBookBarcode]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to deactive the book barcode
-- =============================================
CREATE PROC [dbo].[DeactiveBookBarcode]
	@BookBarcodeID										INT,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			UPDATE
				BookBarcode
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				BookBarcodeID		= @BookBarcodeID
			SET
				@ID = @BookBarcodeID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeactivePublisher]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to deactive the publisher
-- =============================================
CREATE PROC [dbo].[DeactivePublisher]
	@PublisherID										INT,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			UPDATE
				Publisher
			SET
				IsActive			= 0,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				PublisherID			= @PublisherID
			SET
				@ID = @PublisherID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DeactiveUser]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to deactive the user
-- =============================================
CREATE PROC [dbo].[DeactiveUser]
	@UserID												INT,
	@CreatedBy											INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			UPDATE
				[User]
			SET
				IsActive			= 0,
				UpdatedBy			= @CreatedBy,
				UpdatedOn			= GETDATE()
			WHERE
				UserID			= @UserID
			SET
				@ID = @UserID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[LoginValidateUser]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to lagin validate user
-- Execution:	EXEC LoginValidateUser
-- =============================================
CREATE PROC [dbo].[LoginValidateUser]
	@UserName											VARCHAR(50),
	@Password											VARCHAR(50),
	@Role												VARCHAR(20)
AS		
BEGIN
	SET NOCOUNT ON;

	SELECT
		U.UserID										AS UserID,
		U.[Name]										AS [Name],
		U.ContactNumber									AS ContactNumber,
		U.Email											AS Email,
		U.UserName										AS UserName,
		U.[Password]									AS [Password],
		U.ThumbImpression								AS ThumbImpression,
		U.[UID]											AS [UID],
		U.[Role]										AS [Role]
	FROM
		[User]											AS U
	WHERE
		U.UserName = @UserName	
	AND
		U.[Password] = @Password
	AND
		U.[Role] = @Role
	AND
		U.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveAuthor]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save author details
-- =============================================
CREATE PROC [dbo].[SaveAuthor]
	@AuthorID											INT				= NULL,
	@Name												VARCHAR(100),
	@Description										VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM Author WHERE AuthorID = @AuthorID)
		BEGIN
			INSERT INTO
				Author([Name], [Description], CreatedBy)
			VALUES
				(@Name, @Description, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				Author
			SET
				[Name]				= @Name,
				[Description]		= @Description,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				AuthorID			= @AuthorID
			SET
				@ID = @AuthorID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save book details
-- =============================================
CREATE PROC [dbo].[SaveBook]
	@BookID												INT				= NULL,
	@Name												VARCHAR(200),
	@AuthorID											INT,
	@Edition											VARCHAR(20)		= NULL,
	@PublisherID										INT,
	@Language											VARCHAR(50)		= NULL,
	@Price												DECIMAL(18,2),
	@ISBN												VARCHAR(20)		= NULL,
	@Description										VARCHAR(200)	= NULL,
	@TotalQuantity										INT,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM Book WHERE BookID = @BookID)
		BEGIN
			INSERT INTO
				Book([Name], AuthorID, Edition, PublisherID, [Language], Price, ISBN, [Description], TotalQuantity, CreatedBy)
			VALUES
				(@Name, @AuthorID, @Edition, @PublisherID, @Language, @Price, @ISBN, @Description, @TotalQuantity, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				Book
			SET
				[Name]				= @Name,
				AuthorID			= @AuthorID,
				Edition				= @Edition,
				PublisherID			= @PublisherID,
				[Language]			= @Language,
				Price				= @Price,
				ISBN				= @ISBN,	
				[Description]		= @Description,
				TotalQuantity		= @TotalQuantity,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				BookID				= @BookID
			SET
				@ID = @BookID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveBookBarcode]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save book barcode details
-- =============================================
CREATE PROC [dbo].[SaveBookBarcode]
	@BookBarcodeID										INT				= NULL,
	@BookID												INT,
	@Barcode											VARCHAR(50),
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM BookBarcode WHERE BookBarcodeID = @BookBarcodeID)
		BEGIN
			INSERT INTO
				BookBarcode(BookID, Barcode, CreatedBy)
			VALUES
				(@BookID, @Barcode, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				BookBarcode
			SET
				BookID				= @BookID,
				Barcode				= @Barcode,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				BookBarcodeID		= @BookBarcodeID
			SET
				@ID = @BookBarcodeID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveBookHistory]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save book hsitory details
-- =============================================
CREATE PROC [dbo].[SaveBookHistory]
	@BookHistoryID										INT				= NULL,
	@BookBarcodeID										INT,
	@CandidateID										INT,
	@Date												DATE,
	@Status												VARCHAR(50),
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM BookHistory WHERE BookHistoryID = @BookHistoryID)
		BEGIN
			INSERT INTO
				BookHistory(BookBarcodeID, CandidateID, [Date], [Status], CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @Date, @Status, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				BookHistory
			SET
				BookBarcodeID		= @BookBarcodeID,
				CandidateID			= @CandidateID,
				[Date]				= @Date,
				[Status]			= @Status
			WHERE
				BookHistoryID		= @BookHistoryID
			SET
				@ID = @BookHistoryID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveCandidateDue]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save candidate due detail
-- =============================================
CREATE PROC [dbo].[SaveCandidateDue]
	@CandidateDueID										INT				= NULL,
	@BookBarcodeID										INT,
	@CandidateID										INT,
	@DueAmount											DECIMAL(18,2),
	@Remark												VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM CandidateDue WHERE CandidateDueID = @CandidateDueID)
		BEGIN
			INSERT INTO
				CandidateDue(BookBarcodeID, CandidateID, DueAmount, Remark, CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @DueAmount, @Remark, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				CandidateDue
			SET
				BookBarcodeID		= @BookBarcodeID,
				CandidateID			= @CandidateID,
				DueAmount			= @DueAmount,
				Remark				= @Remark
			WHERE
				CandidateDueID		= @CandidateDueID
			SET
				@ID = @CandidateDueID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveIssueBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save issue book detail
-- =============================================
CREATE PROC [dbo].[SaveIssueBook]
	@IssueBookID										INT				= NULL,
	@BookBarcodeID										INT,
	@CandidateID										INT,
	@IssuedOn											DATE,
	@ReturnDate											DATE,
	@Remark												VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM IssueBook WHERE IssueBookID = @IssueBookID)
		BEGIN
			INSERT INTO
				IssueBook(BookBarcodeID, CandidateID, IssuedOn, ReturnDate, Remark, CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @IssuedOn, @ReturnDate, @Remark, @UserID);

			INSERT INTO 
				BookHistory(BookBarcodeID, CandidateID, [Date], [Status], CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @IssuedOn, 'ISSUE', @UserID)

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				IssueBook
			SET
				BookBarcodeID		= @BookBarcodeID,
				CandidateID			= @CandidateID,
				IssuedOn			= @IssuedOn,
				ReturnDate			= @ReturnDate,
				Remark				= @Remark,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				IssueBookID			= @IssueBookID
			SET
				@ID = @IssueBookID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveMissingBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save missing book
-- =============================================
CREATE PROC [dbo].[SaveMissingBook]
	@MissingBookID										INT				= NULL,
	@BookBarcodeID										INT,
	@Remark												VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM MissingBook WHERE MissingBookID = @MissingBookID)
		BEGIN
			INSERT INTO
				MissingBook(BookBarcodeID, Remark, CreatedBy)
			VALUES
				(@BookBarcodeID, @Remark, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				MissingBook
			SET
				BookBarcodeID		= @BookBarcodeID,
				Remark				= @Remark,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				MissingBookID		= @MissingBookID
			SET
				@ID = @MissingBookID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SavePublisher]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save publisher
-- =============================================
CREATE PROC [dbo].[SavePublisher]
	@PublisherID										INT				= NULL,
	@Name												VARCHAR(100),
	@ContactNumber										VARCHAR(15),
	@AlternateContactNumber								VARCHAR(15)		= NULL,
	@EmailID											VARCHAR(200)	= NULL,
	@Fax												VARCHAR(15)		= NULL,
	@Website											VARCHAR(200)	= NULL,
	@Address											VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM Publisher WHERE PublisherID = @PublisherID)
		BEGIN
			INSERT INTO
				Publisher(Name, ContactNumber, AlternateContactNumber, EmailID, Fax, Website, [Address], CreatedBy)
			VALUES
				(@Name, @ContactNumber, @AlternateContactNumber, @EmailID, @Fax, @Website, @Address, @UserID);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				Publisher
			SET
				Name					= @Name,
				ContactNumber			= @ContactNumber,
				AlternateContactNumber	= @AlternateContactNumber,
				EmailID					= @EmailID,
				Fax						= @Fax,
				Website					= @Website,
				[Address]				= @Address
			WHERE
				PublisherID		= @PublisherID
			SET
				@ID = @PublisherID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveRenewalBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save renewal book detail
-- =============================================
CREATE PROC [dbo].[SaveRenewalBook]
	@IssueBookID										INT,
	@BookBarcodeID										INT,
	@CandidateID										INT,
	@RenewalOn											DATE,
	@Remark												VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			DECLARE	@NoOfTimeRenewal	INT		= 0;
			SELECT
				@NoOfTimeRenewal = NoOfTimeRenewal From IssueBook WHERE IssueBookID = @IssueBookID; 

			UPDATE
				IssueBook
			SET
				LastRenewaledOn		= @RenewalOn,
				NoOfTimeRenewal		= @NoOfTimeRenewal + 1,
				Remark				= @Remark,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				IssueBookID			= @IssueBookID

			INSERT INTO 
				BookHistory(BookBarcodeID, CandidateID, [Date], [Status], CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @RenewalOn, 'RENEWAL', @UserID)

			SET
				@ID = @IssueBookID;
		END

		SET
			@OutputMessage = 'SUCCESS';
		
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveReturnBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save return book detail
-- =============================================
CREATE PROC [dbo].[SaveReturnBook]
	@IssueBookID										INT,
	@BookBarcodeID										INT,
	@CandidateID										INT,
	@ReturnedOn											DATE,
	@Remark												VARCHAR(MAX)	= NULL,
	@UserID												INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			UPDATE
				IssueBook
			SET
				ReturnedOn			= @ReturnedOn,
				Remark				= @Remark,
				UpdatedBy			= @UserID,
				UpdatedOn			= GETDATE()
			WHERE
				IssueBookID			= @IssueBookID

			INSERT INTO 
				BookHistory(BookBarcodeID, CandidateID, [Date], [Status], CreatedBy)
			VALUES
				(@BookBarcodeID, @CandidateID, @ReturnedOn, 'RETURN', @UserID)

			SET
				@ID = @IssueBookID;
		END

		SET
			@OutputMessage = 'SUCCESS';
		
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to save user
-- =============================================
CREATE PROC [dbo].[SaveUser]
	@UserID												INT				= NULL,
	@Name												VARCHAR(50),
	@ContactNumber										VARCHAR(15)		= NULL,
	@Email												VARCHAR(200)	= NULL,
	@UserName											VARCHAR(50)		= NULL,
	@Password											VARCHAR(50)		= NULL,
	@ThumbImpression									VARCHAR(MAX)	= NULL,
	@UID												VARCHAR(50)		= NULL,
	@Role												VARCHAR(10),
	@CreatedBy											INT,
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM [User] WHERE UserID = @UserID)
		BEGIN
			INSERT INTO
				[User]([Name], ContactNumber, Email, UserName, [Password], ThumbImpression, [UID], [Role], CreatedBy)
			VALUES
				(@Name, @ContactNumber, @Email, @UserName, @Password, @ThumbImpression, @UID, @Role, @CreatedBy);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				[User]
			SET
				[Name]				= @Name,
				ContactNumber		= @ContactNumber,
				Email				= @Email,
				UserName			= @UserName,
				[Password]			= @Password,
				ThumbImpression		= @ThumbImpression,
				[UID]				= @UID,
				[Role]				= @Role,
				UpdatedBy			= @CreatedBy,
				UpdatedOn			= GETDATE()
			WHERE
				UserID			= @UserID
			SET
				@ID = @UserID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[ShowAuthor]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show author
-- Execution:	EXEC ShowAuthor
-- =============================================
CREATE PROC [dbo].[ShowAuthor]
	@AuthorID											INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		A.AuthorID										AS AuthorID,
		A.[Name]										AS [Name],
		A.[Description]									AS [Description]
	FROM
		Author											AS A
	WHERE
		(A.AuthorID = @AuthorID OR @AuthorID IS NULL)
	AND
		(A.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		A.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowBook]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show book detail
-- Execution:	EXEC ShowBook
-- =============================================
CREATE PROC [dbo].[ShowBook]
	@BookID												INT			= NULL,
	@AuthorID											INT			= NULL,
	@PublisherID										INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		B.BookID										AS BookID,
		B.[Name]										AS [Name],
		B.AuthorID										AS AuthorID,
		B.Edition										AS Edition,
		B.PublisherID									AS PublisherID,
		B.[Language]									AS [Language],
		B.Price											AS Price,
		B.ISBN											AS ISBN,
		B.[Description]									AS [Description],
		B.TotalQuantity									AS TotalQuantity
	FROM
		Book											AS B
	WHERE
		(B.BookID = @BookID OR @BookID IS NULL)
	AND
		(B.AuthorID = @AuthorID OR @AuthorID IS NULL)
	AND
		(B.PublisherID = @PublisherID OR @PublisherID IS NULL)
	AND
		(B.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		B.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowBookBarcode]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show book barcode detail
-- Execution:	EXEC ShowBookBarcode
-- =============================================
CREATE PROC [dbo].[ShowBookBarcode]
	@BookBarcodeID										INT			= NULL,
	@BookID												INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		BB.BookBarcodeID								AS BookBarcodeID,
		BB.BookID										AS BookID,
		BB.Barcode										AS Barcode
	FROM
		BookBarcode										AS BB
	WHERE
		(BB.BookBarcodeID = @BookBarcodeID OR @BookBarcodeID IS NULL)
	AND
		(BB.BookID = @BookID OR @BookID IS NULL)
	AND
		(BB.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		BB.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowBookHistory]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show book history detail
-- Execution:	EXEC ShowBookHistory
-- =============================================
CREATE PROC [dbo].[ShowBookHistory]
	@BookHistoryID										INT			= NULL,
	@BookBarcodeID										INT			= NULL,
	@CandidateID										INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		BH.BookHistoryID								AS BookHistoryID,
		BH.BookBarcodeID								AS BookBarcodeID,
		BH.CandidateID									AS CandidateID,
		BH.[Date]										AS [Date],
		BH.[Status]										AS [Status]
	FROM
		BookHistory										AS BH
	WHERE
		(BH.BookHistoryID = @BookHistoryID OR @BookHistoryID IS NULL)
	AND
		(BH.BookBarcodeID = @BookBarcodeID OR @BookBarcodeID IS NULL)
	AND
		(BH.CandidateID = @CandidateID OR @CandidateID IS NULL)
	AND
		(BH.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		BH.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowCandidateDue]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show candidate due detail
-- Execution:	EXEC ShowCandidateDue
-- =============================================
CREATE PROC [dbo].[ShowCandidateDue]
	@CandidateDueID										INT			= NULL,
	@BookHistoryID										INT			= NULL,
	@CandidateID										INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		CD.CandidateDueID								AS CandidateDueID,
		CD.BookBarcodeID								AS BookBarcodeID,
		CD.CandidateID									AS CandidateID,
		CD.DueAmount									AS DueAmount,
		CD.Remark										AS Remark
	FROM
		CandidateDue									AS CD
	WHERE
		(CD.CandidateDueID = @CandidateDueID OR @CandidateDueID IS NULL)
	AND
		(CD.BookBarcodeID = @BookHistoryID OR @BookHistoryID IS NULL)
	AND
		(CD.CandidateID = @CandidateID OR @CandidateID IS NULL)
	AND
		(CD.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		CD.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowPublisher]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show publisher
-- Execution:	EXEC ShowPublisher
-- =============================================
CREATE PROC [dbo].[ShowPublisher]
	@PublisherID										INT			= NULL,
	@UserID												INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		P.PublisherID									AS PublisherID,
		P.[Name]										AS [Name],
		P.ContactNumber									AS ContactNumber,
		P.AlternateContactNumber						AS AlternateContactNumber,
		P.EmailID										AS EmailID,
		P.Fax											AS Fax,
		P.Website										AS Website,
		P.[Address]										AS [Address]
	FROM
		Publisher										AS P
	WHERE
		(P.PublisherID = @PublisherID OR @PublisherID IS NULL)
	AND
		(P.CreatedBy = @UserID OR @UserID IS NULL)
	AND
		P.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ShowUser]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to show user
-- Execution:	EXEC ShowUser
-- =============================================
CREATE PROC [dbo].[ShowUser]
	@UserID												INT			= NULL,
	@Role												VARCHAR(10)	= NULL,
	@CreatedBy											INT			= NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		U.UserID										AS UserID,
		U.[Name]										AS [Name],
		U.ContactNumber									AS ContactNumber,
		U.Email											AS Email,
		U.UserName										AS UserName,
		U.[Password]									AS [Password],
		U.ThumbImpression								AS ThumbImpression,
		U.[UID]											AS [UID],
		U.[Role]										AS [Role]
	FROM
		[User]											AS U
	WHERE
		(U.UserID = @UserID OR @UserID IS NULL)
	AND
		(U.[Role] = @Role OR @Role IS NULL)
	AND
		U.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserProfile]    Script Date: 18/12/2019 07:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 18/12/2019
-- Description:	Used to update the user profile
-- =============================================
CREATE PROC [dbo].[UpdateUserProfile]
	@UserID												INT,
	@Name												VARCHAR(50),
	@ContactNumber										VARCHAR(15)		= NULL,
	@Email												VARCHAR(200)	= NULL,
	@UserName											VARCHAR(50)		= NULL,
	@Password											VARCHAR(50)		= NULL,
	@ThumbImpression									VARCHAR(MAX)	= NULL,
	@UID												VARCHAR(50)		= NULL,
	@Role												VARCHAR(10),
	@CreatedBy											INT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF EXISTS(SELECT 1 FROM [User] WHERE UserID = @UserID)
		BEGIN
			UPDATE
				[User]
			SET
				[Name]				= @Name,
				ContactNumber		= @ContactNumber,
				Email				= @Email,
				UserName			= @UserName,
				[Password]			= @Password,
				ThumbImpression		= @ThumbImpression,
				[UID]				= @UID,
				[Role]				= @Role,
				UpdatedBy			= @CreatedBy,
				UpdatedOn			= GETDATE()
			WHERE
				UserID				= @UserID
			SET
				@OutputMessage = 'SUCCESS';
		END
		ELSE
		BEGIN
			SET
				@OutputMessage = 'Invalid';
		END
		
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
GO
USE [master]
GO
