-- =============================================
-- Author:		Arshad
-- Create Date : 04/02/2025
-- Description:	Created the store procedure to find existing RoleID
-- =============================================
Create PROCEDURE [dbo].[HasRoleID]
    @ServiceNo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Candidate WHERE ServiceNo = @ServiceNo)
        SELECT 1 AS [IsExisting]; 
    ELSE
        SELECT 0 AS [IsExisting]; 
END;
-- =============================================
USE [LibrarySystem-Army]
GO
/****** Object:  StoredProcedure [dbo].[SaveCandidate]    Script Date: 04/02/2025 4:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Junaid Khan
-- Create date: 26/02/2020
-- Updated By : Arshad
-- Updated Date : 04/02/2025
-- Description:	updated the store procedure by added some columns
-- =============================================
ALTER PROC [dbo].[SaveCandidate]
	@CandidateID										INT				= NULL,
	@Role												VARCHAR(20),
	@Name												NVARCHAR(100),
	@ContactNumber										VARCHAR(15),
	@ServiceNo											VARCHAR(50),
	@CourseID											INT				= NULL,
	@FromDate											DATE			= NULL,
	@ToDate												DATE			= NULL,
	@TOSDate											DATE			= NULL,
	@SOSDate											DATE			= NULL,
	@ThumbImpression									VARCHAR(MAX)	= NULL,
	@UserID												INT				= NULL,
	@DOB												DATE			= NULL,
	@Stream												VARCHAR(100)	= NULL,
	@AcademicYear										INT				= NULL,
	@PermanentAddress									NVARCHAR(255)	= NULL,
	@PresentAddress										NVARCHAR(255)	= NULL,
	@Email												VARCHAR(100)	= NULL,
	@ParentsContact										VARCHAR(15)		= NULL,
	@Photo												VARBINARY(MAX)  = NULL,												
	@ID													INT				OUT,
	@OutputMessage										VARCHAR(MAX)	OUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM Candidate WHERE CandidateID = @CandidateID)
		BEGIN
			INSERT INTO
				Candidate([Role], Barcode, [Name], ContactNumber, ServiceNo, CourseID, FromDate, ToDate,
						 TOSDate, SOSDate, ThumbImpression, CreatedBy, DOB, Stream,AcademicYear,PermanentAddress,PresentAddress,Email,ParentsContact,Photo)
			VALUES
				(@Role, dbo.GenerateCandidateBarcode(),  @Name, @ContactNumber, @ServiceNo, @CourseID, @FromDate, @ToDate, 
				 @TOSDate, @SOSDate, @ThumbImpression, @UserID,@DOB, @Stream,@AcademicYear,@PermanentAddress,@PresentAddress,@Email,@ParentsContact,@Photo);

			SET
				@ID = SCOPE_IDENTITY();
		END

		ELSE
		BEGIN
			UPDATE
				Candidate
			SET
				[Role]			= @Role,
				[Name]			= @Name,
				ContactNumber	= @ContactNumber,
				ServiceNo       = @ServiceNo,
				CourseID        = @CourseID,
				FromDate		= @FromDate,
				ToDate			= @ToDate,
				TOSDate         = @TOSDate,
				SOSDate         = @SOSDate,
				Thumbimpression = @ThumbImpression,
				UpdatedBy       = @UserID,
				UpdatedOn       = GETDATE(),
				DOB				= @DOB,
				Stream			= @Stream,
				AcademicYear	= @AcademicYear,
				PermanentAddress	= @PermanentAddress,
				PresentAddress	= @PresentAddress,
				Email			= @Email,
				ParentsContact	= @ParentsContact,
				Photo			= @Photo
 			WHERE
				CandidateID		= @CandidateID
			SET
				@ID = @CandidateID;
		END

		SET
			@OutputMessage = 'SUCCESS';
	END TRY

	BEGIN CATCH
		DECLARE @ErrorNumber			INT
		DECLARE @ErrorSeverity			INT
		DECLARE @ErrorState				INT
		DECLARE @ErrorProcedure			NVARCHAR(126)
		DECLARE @ErrorLine				INT
		DECLARE @ErrorMessage			NVARCHAR(MAX)
		
		SELECT
			@ErrorNumber				= ERROR_NUMBER(),
			@ErrorSeverity				= ERROR_SEVERITY(),
			@ErrorState					= ERROR_STATE(),
			@ErrorProcedure				= ERROR_PROCEDURE(),
			@ErrorLine					= ERROR_LINE(),
			@ErrorMessage				= ERROR_MESSAGE();

		SET
			 @OutputMessage = @ErrorMessage

		 RAISERROR(' Error #: %d in %s . Message: %s', @ErrorSeverity, @ErrorState, 
		 @ErrorProcedure, @ErrorMessage);
	END CATCH
END
