<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LMS" connectionString="Data Source = DESKTOP-1FSNUIR; Initial Catalog = LibrarySystem-Army; Integrated Security = SSPI; Application Name = LMS.WIN" providerName="System.Data.SqlClient" />
    <!--<add name="LMS" connectionString="Data Source =192.168.1.77; Initial Catalog = LibrarySystem; User ID = 7tech; Password = 7tech@pass; Application Name = LMS.WIN" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>