-- =============================================
-- Author:		Arshad
-- Create date: 07/02/2025
-- Description:	Created Store Procedure For DeactiveJournal
-- Execution:	EXECDeactiveJournal 
-- =============================================
USE [LibrarySystem-Army]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeactiveJournal]
    @ID INT,
    @OutputMessage NVARCHAR(2000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if Journal exists
        IF EXISTS (SELECT 1 FROM Journal WHERE ID = @ID)
        BEGIN
            -- Deactivate Journal
            UPDATE Journal
            SET IsActive = 0
            WHERE ID = @ID;

            SET @OutputMessage = 'SUCCESS';
        END
        ELSE
        BEGIN
            SET @OutputMessage = 'Journal not found.';
        END
    END TRY
    BEGIN CATCH
        SET @OutputMessage = ERROR_MESSAGE();
    END CATCH
END
GO
