-- =============================================
-- Author:		Arshad
-- Create date: 07/02/2025
-- Description:	Created Store Procedure For SaveJournal
-- Execution:	EXEC SaveJournal 
-- =============================================
CREATE PROCEDURE SaveJournal
    @JournalID INT = -1, -- -1 for new journal, otherwise update
    @JournalName NVARCHAR(255),
    @Frequency INT,
    @Price DECIMAL(10, 2),
    @InvoiceNo NVARCHAR(50),
    @OrderDate DATE,
    @OrderNo NVARCHAR(50),
    @VolumeNo NVARCHAR(20),
    @IssueNo NVARCHAR(20),
    @Month NVARCHAR(20),
    @Remark NVARCHAR(500),
    @IsActive BIT,
    @LanguageID INT,
    @ID INT OUTPUT, -- Output ID
    @OutputMessage NVARCHAR(2000) OUTPUT -- Output message
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @JournalID = -1
        BEGIN
            -- Insert a new journal record
            INSERT INTO Journal
            (
                JournalName, Frequency, Price, InvoiceNo, OrderDate, OrderNo,
                VolumeNo, IssueNo, Month, Remark, IsActive, LanguageID
            )
            VALUES
            (
                @JournalName, @Frequency, @Price, @InvoiceNo, @OrderDate, @OrderNo,
                @VolumeNo, @IssueNo, @Month, @Remark, @IsActive, @LanguageID
            );

            SET @ID = SCOPE_IDENTITY();
            SET @OutputMessage = 'SUCCESS';
        END
        ELSE
        BEGIN
            -- Update an existing journal record
            UPDATE Journal
            SET
                JournalName = @JournalName,
                Frequency = @Frequency,
                Price = @Price,
                InvoiceNo = @InvoiceNo,
                OrderDate = @OrderDate,
                OrderNo = @OrderNo,
                VolumeNo = @VolumeNo,
                IssueNo = @IssueNo,
                Month = @Month,
                Remark = @Remark,
                IsActive = @IsActive,
                LanguageID = @LanguageID
            WHERE ID = @JournalID;

            SET @ID = @JournalID;
            SET @OutputMessage = 'SUCCESS';
        END
    END TRY
    BEGIN CATCH
        SET @OutputMessage = ERROR_MESSAGE();
        SET @ID = 0;
    END CATCH
END
