-- =============================================
-- Author:		Arshad
-- Create date: 08/02/2025
-- Description:	Modified Store Procedure For SaveJournal
-- Execution:	EXEC SaveJournal 
-- =============================================

ALTER PROCEDURE [dbo].[SaveJournal]
    @JournalID INT = -1, -- -1 for new journal, otherwise update
    @JournalName NVARCHAR(255),
    @Frequency INT,
    @Price DECIMAL(10, 2),
    @InvoiceNo NVARCHAR(50),
    @InvoiceDate DATE,
    @OrderNo NVARCHAR(50),
    @IsActive BIT,
    @LanguageID INT,
    @ID INT OUTPUT, -- Output ID
    @OutputMessage NVARCHAR(2000) OUTPUT -- Output message
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @JournalID = -1
        BEGIN
            -- Insert a new journal record
            INSERT INTO Journal
            (
                JournalName, Frequency, Price, InvoiceNo, InvoiceDate, OrderNo,
                IsActive, LanguageID
            )
            VALUES
            (
                @JournalName, @Frequency, @Price, @InvoiceNo, @InvoiceDate, @OrderNo,
                @IsActive, @LanguageID
            );

            SET @ID = SCOPE_IDENTITY();
            SET @OutputMessage = 'SUCCESS';
        END
        ELSE
        BEGIN
            -- Update an existing journal record
            UPDATE Journal
            SET
                JournalName = @JournalName,
                Frequency = @Frequency,
                Price = @Price,
                InvoiceNo = @InvoiceNo,
                InvoiceDate = @InvoiceDate,
                OrderNo = @OrderNo,
                IsActive = @IsActive,
                LanguageID = @LanguageID
            WHERE ID = @JournalID;

            SET @ID = @JournalID;
            SET @OutputMessage = 'SUCCESS';
        END
    END TRY
    BEGIN CATCH
        SET @OutputMessage = ERROR_MESSAGE();
        SET @ID = 0;
    END CATCH
END
