
-- =============================================
-- Author:		Arshad
-- Create date: 09/02/2025
-- Description:	Modified Store Procedure of ShowCandidate 
-- Execution:	EXEC ShowCandidate 
-- =============================================
ALTER PROC [dbo].[ShowCandidate]
    @CandidateID INT = NULL,
    @CourseID INT = NULL,
    @Role VARCHAR(20) = NULL,
    @Stream VARCHAR(100) = NULL,
    @ThumbImpression VARCHAR(MAX) = NULL,
    @Barcode VARCHAR(50) = NULL,
    @UserID INT = NULL,
    @SearchValue NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.CandidateID AS CandidateID,
        C.Barcode AS Barcode,
        C.[Role] AS [Role],
        C.[Name] AS [Name],
        C.ContactNumber AS ContactNumber,
        C.ParentsContact AS ParentsContact,
        C.Email AS Email,
        C.PermanentAddress AS PermanentAddress,
        C.PresentAddress AS PresentAddress, -- Ensure this field exists in the table
        C.Photo AS Photo,
        C.ServiceNo AS ServiceNo,
        C.[Stream] AS [Stream],
        C.AcademicYear AS AcademicYear,
        C.CourseID AS CourseID,
        Cour.[Name] AS CourseName,
        Cour.[Description] AS CourseDescription,
        CONVERT(VARCHAR, C.FromDate, 105) AS FromDate,
        CONVERT(VARCHAR, C.ToDate, 105) AS ToDate,
        C.Battalion AS Battalion,
        CONVERT(VARCHAR, C.TOSDate, 105) AS TOSDate,
        CONVERT(VARCHAR, C.SOSDate, 105) AS SOSDate,
        C.ThumbImpression AS ThumbImpression
    FROM
        Candidate AS C
    LEFT JOIN
        Course AS Cour ON Cour.CourseID = C.CourseID
    WHERE
        (C.CandidateID = @CandidateID OR @CandidateID IS NULL)
    AND (C.CourseID = @CourseID OR @CourseID IS NULL)
    AND (C.[Role] = @Role OR @Role IS NULL)
    AND (C.[Stream] = @Stream OR @Stream IS NULL) -- Added Stream filter
    AND (C.ThumbImpression = @ThumbImpression OR @ThumbImpression IS NULL)
    AND (C.Barcode = @Barcode OR @Barcode IS NULL)
    AND (@SearchValue IS NULL OR 
        C.[Name] LIKE '%' + @SearchValue + '%' OR
        C.ContactNumber LIKE '%' + @SearchValue + '%' OR
        C.ServiceNo LIKE '%' + @SearchValue + '%' OR
        CONVERT(VARCHAR, C.TOSDate, 105) LIKE '%' + @SearchValue + '%' OR
        CONVERT(VARCHAR, C.SOSDate, 105) LIKE '%' + @SearchValue + '%')
    AND C.IsActive = 1;
END
