-- =============================================
-- Author:		Arshad
-- Create date: 07/02/2025
-- Description:	Created Store Procedure For ShowJournal
-- Execution:	EXEC ShowJournal 
-- =============================================
ALTER PROCEDURE [dbo].[ShowJournal]
    @ID INT = -1,
    @JournalName NVARCHAR(255) = NULL,
    @LanguageID INT = -1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        J.ID AS ID,
        J.JournalName AS JournalName,
        J.Frequency AS Frequency,
        J.Price AS Price,
        J.InvoiceNo AS InvoiceNo,
        J.OrderDate AS OrderDate,
        J.OrderNo AS OrderNo,
        J.VolumeNo AS VolumeNo,
        J.IssueNo AS IssueNo,
        J.Month AS Month,
        J.Remark AS Remark,
        J.IsActive AS IsActive,
        J.LanguageID AS LanguageID,
        L.Name AS Language
    FROM Journal AS J
    INNER JOIN [Language] AS L ON J.LanguageID = L.LanguageID
    WHERE 
        (@ID = -1 OR J.ID = @ID)
        AND (@JournalName IS NULL OR J.JournalName LIKE '%' + @JournalName + '%')
        AND (@LanguageID = -1 OR J.LanguageID = @LanguageID);
END;