-- =============================================
-- Author:		Arshad
-- Create date: 09/02/2025
-- Description:	Modified Store Procedure of ShowJournal
-- Execution:	EXEC ShowJournal 
-- =============================================
ALTER PROCEDURE [dbo].[ShowJournal]
    @ID INT = -1,
    @JournalName NVARCHAR(255) = NULL,
    @SubjectID INT = -1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        J.ID AS ID,
        J.JournalName AS JournalName,
        J.Frequency AS Frequency,
        J.Price AS Price,
        J.InvoiceNo AS InvoiceNo,
        J.InvoiceDate AS InvoiceDate,
        J.OrderNo AS OrderNo, 
        J.IsActive AS IsActive,
        J.SubjectID AS SubjectID,  -- Corrected column reference
        S.Name AS Subjects
    FROM Journal AS J
    INNER JOIN [Subjects] AS S ON J.SubjectID = S.SubjectID  -- 
    WHERE 
        (@ID = -1 OR J.ID = @ID)
        AND (@JournalName IS NULL OR J.JournalName LIKE '%' + @JournalName + '%')
        AND (@SubjectID = -1 OR J.SubjectID = @SubjectID);  -- 
END;
-- =============================================
-- Author:		Arshad
-- Create date: 09/02/2025
-- Description:	Modified Store Procedure of SaveJournal
-- Execution:	EXEC SaveJournal
-- =============================================
ALTER PROCEDURE [dbo].[SaveJournal]
    @JournalID INT = -1, -- -1 for new journal, otherwise update
    @JournalName NVARCHAR(255),
    @Frequency INT,
    @Price DECIMAL(10, 2),
    @InvoiceNo NVARCHAR(50),
    @InvoiceDate DATE,
    @OrderNo NVARCHAR(50),
    @IsActive BIT,
    @SubjectID INT,
    @ID INT OUTPUT, -- Output ID
    @OutputMessage NVARCHAR(2000) OUTPUT -- Output message
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @JournalID = -1
        BEGIN
            -- Insert a new journal record
            INSERT INTO Journal
            (
                JournalName, Frequency, Price, InvoiceNo, InvoiceDate, OrderNo,
                IsActive, SubjectID
            )
            VALUES
            (
                @JournalName, @Frequency, @Price, @InvoiceNo, @InvoiceDate, @OrderNo,
                @IsActive, @SubjectID
            );

            SET @ID = SCOPE_IDENTITY();
            SET @OutputMessage = 'SUCCESS';
        END
        ELSE
        BEGIN
            -- Update an existing journal record
            UPDATE Journal
            SET
                JournalName = @JournalName,
                Frequency = @Frequency,
                Price = @Price,
                InvoiceNo = @InvoiceNo,
                InvoiceDate = @InvoiceDate,
                OrderNo = @OrderNo,
                IsActive = @IsActive,
                SubjectID = @SubjectID
            WHERE ID = @JournalID;

            SET @ID = @JournalID;
            SET @OutputMessage = 'SUCCESS';
        END
    END TRY
    BEGIN CATCH
        SET @OutputMessage = ERROR_MESSAGE();
        SET @ID = 0;
    END CATCH
END
